<div class="container mb-3">
    <h1 class="text-center mt-4 mb-4">About</h1>
    <p>
            For a memorable meal the quality of the service is something that guests often remember as much as the food and
        drink served.

        That means that restaurant servers must show extensive knowledge of all types of cuisine and dishes, especially
        the ingredients and cooking style of the dishes on an a la carte menu. They will need to know and understand the
        methods of preparation and serving, along with the tools used.

        Regardless of whether it is a self-service cafeteria or a five star hotel restaurant good manners, a smart
        appearance, and impeccable personal hygiene are equally essential.

        Skills change the lives of young people around the globe. They build self-esteem and release potential. Skills
        create opportunities and connect communities. They are the foundation of economic progress and the building
        blocks of our world.
        Young people are the beneficiaries of our work, the heroes of our stories of skills excellence, and our default
        audience.
        We are apolitical, but we do not shy away from discussing the problems of the world. WorldSkills and our Members
        believe that skills are uniquely effective in tackling economic and social inequities.
    </p>
</div>