<div class="container-fluid footer mt-5"> 
    <div class="row">
        <div class="col-lg-6">
            <h6 style="color: white;">Cloud Kitchen Web</h6>
            <p class="left-text" style="color: white;">good food. good eat</p>
        </div>
        <div class="col-lg-4">
            <a routerLink="home">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>
        <div class="col-lg-2">
            <a href="#"><i class="fa fa-facebook" style="color: white;"></i></a>
            <a href="#"><i class="fa fa-whatsapp" style="color: white;"></i></a>
            <a href="#"><i class="fa fa-instagram" style="color: white;"></i></a>
            <a href="#"><i class="fa fa-twitter" style="color: white;"></i></a>
        </div>
    </div>
</div>